body {
  margin: 0px;
}

main {
  display: flex;
  flex-direction: row;
}

#left-section {
  width: 35%;
  background-color: rgb(192, 154, 185);
}

#right-section {
  width: 60%;
  background-color: rgb(131, 130, 132);
}

img {
  margin-top: 20px;
  margin-top: 30px;
  height: 120px;
  width: 120px;
  border-radius: 130px;
  background-color: rgb(78, 78, 78);
  border: 2px solid #fffbfb; }

h1 {
  text-align: center;
}

section {
  margin: 0%;
  text-align: center;
  padding: 2px;
}


footer {
  margin: 10%;
  text-align: center;
  padding: 10px;
}

aside {
margin-top: 60%;
}

header {
margin-top: 60%;

}
footer {
  background-color: rgb(220, 186, 213);
  margin: 0%;
  
}